<!-- meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="../img/favicon/apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
<link rel="../img/favicon/apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
<link rel="../img/favicon/apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
<link rel="../img/favicon/apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
<link rel="../img/favicon/apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
<link rel="../img/favicon/apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
<link rel="../img/favicon/apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
<link rel="../img/favicon/apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
<link rel="../img/favicon/apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
<link rel="../img/favicon/icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png">
<link rel="../img/favicon/icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
<link rel="../img/favicon/icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
<link rel="../img/favicon/icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
<link rel="../img/favicon/manifest" href="../img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- title -->
<!-- <title>Taxify Heat Map Košice</title>  -->
<title>
<% if (typeof(headTitle) !== 'undefined') { %>
	<%- headTitle %>
	<% } %> </title>
	
<!-- <meta property="og:url" content="https://pizzaseo.com/sk/blog/"> -->
<meta property="og:title" content="<% if (typeof(headTitle) !== 'undefined') {%><%- headTitle %><%} %>" >
<meta property="og:site_name" content="Horúce miesta vo Vašom meste">
<meta property="og:description" content="Chcete sa vyhnúť nekonečným prestojom vo Vašom meste, alebo ste sa ocitli v časti mesta ktoré nepoznáte a nechcete prejazdiť kopec kilometrov navyše ? Mapa hotspotov tento problém výrieši a zvýši Vaše zisky, pomôže Vám odhadnúť odkial príde ďalšia objednávka.">
<meta property="og:image" content="http://www.driverhotspot.com/fbsharepicture_<% if (typeof(city) !== 'undefined') {%><%- city %><%} %>.jpg">

<!-- CSS -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
<link href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" rel="stylesheet" />
<link rel="stylesheet" href="../leaflet.awesome-markers.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130681762-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130681762-1');
</script>

<!-- style -->
<style>
  #map {
  	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
 
  }
  
</style>
