      <div class="container">
        <div class="content">
            <!-- Intro -->
            <div id="intro" class="content-box hidden">
                <h2>Hotspot Dopytová Mapa</h2>
                <div class="note">
                  <p><strong> Pozor: </strong> Momentálne prebieha zbierka na urdržanie služby. Mesačné náklady suvisiace s prevádzkou servra činia 60 Eur. Cieľom je zozbierať 720 Eur, čo zabezpečí chod strány nasledujúci rok. Ak sumu nevyzbierame, butem nútený k zastaveniu poskytovanej služby. Pre príspevok použite tlačidlo "Donate" </p>
                  <div>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="EXJ589YFSQD2N" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="Páči sa Vám tento projekt? Prispejte na jeho fungovanie a další vývoj!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_SK/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                  </div>
                  <div>
                    <progress max="100" value="5" title=" Vyzbierané 5 % "></progress>
                  </div>
                </div>
                <p>Vitajte na stránke <b>vizualizácie dopytu po jazdách</b> vo Vašom meste. Táto mapa vznikla ako <b>projekt vodiča pre vodičov</b>. Pri jazdení sa mnohokrát stávalo, že v meste bolo mnoho iných vodičov a v prípade, že som sa nachádzal na nesprávnom mieste, čakal som na dalšiu jazdu aj pol hodinu. Preto som prišiel s myšlienkou <b>zobrazenia horúcich miest / hotspotov v konkrétnom čase v daný deň</b> v týždni. Po vývoji a využití mojich údajov a údajov iných vodičov o jazdách, som dosiahol konkurenčnú výhodu. Jazdil som do miest, kde bol dopyt najvyšší a dosiahol som <b>výššiu obsadenosť a </b> tým aj <b>vyšší príjem</b>.</p>
                <p><b>Hotspot Mapa:</b></p>
                <ul>
                  <li>Vznikla ako projekt vodiča pre vodičov</li>
                  <li>Informuje vodiča o miestach, kde je pravdepodobne najvyšší dopyt po jazde</li>
                  <li>Zobrazuje priblyžnú polohu a počet ostatných voľných vodičov bolt</li>
                  <li>Je zadarmo a može Vám vzvýšiť obsadenosť a príjimy</li>
                  <li>Pomáha znížiť čas prestojov</li>
                  <li>Funguje na základe pravidelnosti a predvidateľnosti ľudského spravania</li>
                  <li>Agreguje historické údaje vodičov pre konkrétne miesto, čas a deň v týždni</li>
                </ul>
                <p><b>Použitie:</b></p>
                <ul>
                  <li>V pripade, že ste v časti mesta ktorú nepoznáte</li>
                  <li>V prípade, že nie ste zbehnlý miestných pomerov</li>
                  <li>Ak dlho čakáte na jazdu, a smerujte do najblyžšej oblasti dopytu</li>
                </ul>
                <p>Ak zoomujete mapu na maximum, uvidite červene body, ktoré nemožno považovať za hotspoty. Iba Subor bodov a hustota ako celok je možné považovať za hotspot. Preto platí, že hotspoty sa najlepšie ukážu pri defaultnom nastavení zoomu, prípadne 1, 2 krát "Zoom in".</p>
                <p><b>Intenzita dopytu / hotspotu podľa farby</b></p>
                <ul>
                  <li>Červená - Veľmi silný dopyt</li>
                  <li>Žltá  - Stredne silný dopyt</li>
                  <li>Zelená - Stredne slabý dopyt</li>
                  <li>Modrá - Slabý dopyt </li>
                </ul>
                <button id="launch" style="justify-content: center">Zavrieť</button>
                <p class="credit">V prípade, že mapu používate a prináša Vám osoch, môžete prispieť cez tlačidlo "Donate". Zozbierané prostriedky budú použité na zaplatenie servra a prípadne na ďalší vývoj.</p>
            </div>

            <div id="donation" class="content-box hidden">
              <h2>Hotspot Dopytová Mapa</h2>
              <div class="note">
                <p><strong> Pozor: </strong> Momentálne prebieha zbierka na urdržanie služby. Mesačné náklady suvisiace s prevádzkou servra činia 60 Eur. Cieľom je zozbierať 720 Eur, čo zabezpečí chod strány nasledujúci rok. Ak sumu nevyzbierame, butem nútený k zastaveniu poskytovanej služby. Pre príspevok použite tlačidlo "Donate" </p>
                <div>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick" />
                  <input type="hidden" name="hosted_button_id" value="EXJ589YFSQD2N" />
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="Páči sa Vám tento projekt? Prispejte na jeho fungovanie a další vývoj!" alt="Donate with PayPal button" />
                  <img alt="" border="0" src="https://www.paypal.com/en_SK/i/scr/pixel.gif" width="1" height="1" />
                  </form>
                </div>
                <div>
                  <p id="countDown"></p>
                </div>
                <div>
                  <progress max="100" value="5" title=" 5 % "></progress>
                </div>
              </div>
              <button id="donationClose" style="justify-content: center">Zavrieť</button>
          </div>

        </div>
    </div>