<div class="container">
        <div class="content">
             
            <!-- Intro -->
            <div id="unauth" class="content-box">
              <h2>Hotspot Dopytová Mapa</h2>
              <p>Vitajte na stránke <b>vizualizácie dopytu po jazdách</b> vo Vašom meste. Táto mapa vznikla ako <b>projekt vodiča pre vodičov</b>. Pri jazdení sa mnohokrát stávalo, že v meste bolo mnoho iných vodičov a v prípade, že som sa nachádzal na nesprávnom mieste, čakal som na dalšiu jazdu aj pol hodinu. Preto som prišiel s myšlienkou <b>zobrazenia horúcich miest / hotspotov v konkrétnom čase v daný deň</b> v týždni. </p>
              <p><b>Hotspot Mapa:</b></p>
              <ul>
                <li>Vznikla ako projekt vodiča pre vodičov</li>
                <li>Informuje vodiča o miestach, kde je pravdepodobne najvyšší dopyt po jazde</li>
                <li>Zobrazuje priblyžnú polohu a počet ostatných voľných vodičov bolt</li>
                <li>Je zadarmo a može Vám vzvýšiť obsadenosť a príjimy</li>
                <li>Pomáha znížiť čas prestojov</li>
                <li>Funguje na základe pravidelnosti a predvidateľnosti ľudského spravania</li>
                <li>Agreguje historické údaje vodičov pre konkrétne miesto, čas a deň v týždni</li>
              </ul>
              <p>Ak chcete mapu využívať, musíte sa <b>registrovat a následne prihlásiť</b>. Pri <b>prvej registrácii</b> budete mať mapu naplno k dispozcii po dobu <b>jedného mesiaca bez poplatku</b>.</p>
              <a style="justify-content: center" href="/users/login" class="btn btn-primary btn-block">Prihlásiť sa / Registrácia</a>
          </div>     

        </div>
    </div>