<!DOCTYPE html>
<html lang="sk">

<head>
  <% include ../partials/head %>
</head>

<body class="map-active">

  <div class="visualizer">
    <% include ../partials/help_sk %>
    <div id="map"></div>
  </div>
  
    <% include ../partials/scripts %>
  
</body>

</html>
