<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
	
  <% include ../partials/slidebar %> 
	
  <div id="map" class="sidebar-map"></div>
	
  <% include ../partials/scripts %>
</body>

</html>
