<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <div id="map"></div>

  <% include ../partials/southAfricaRepublicScripts %>
  <% include ../partials/countriesButtons %>
  
</body>

</html>
