<!DOCTYPE html>
<html lang="sk">

<head>
  <% include ../partials/head %>
</head>

<body>

  <div class="visualizer">
    <div id="map"></div>
  </div>
  
  <% include ../partials/scripts_unauth %>
  
</body>

</html>